<p-dialog [(visible)]="dialogOpen" [modal]="true" header="Valores por Attributo" [style]="{ width: '50rem' }">
    <div class="flex flex-col gap-3 mb-4">
        <label class="font-semibold">Agregar Valor:</label>
        <p-dropdown
            [(ngModel)]="selectedValuesAttribute"
            [options]="listAttributes()"
            [loading]="loadingAttributes()"
            optionLabel="value"
            (onShow)="onDropdownOpen()"
            placeholder="Selecciona un valor..."
            [filter]="true"
            [showClear]="true"
            filterPlaceholder="Buscar valor..."
            (onChange)="onAssign($event.value)"
            (onFilter)="onFilterAttributes($event)"
            styleClass="w-full"
            emptyMessage="No se encontraron resultados"
        />
    </div>
    <p-table
        #dt
        [value]="list()"
        [rows]="limit()"
        [loading]="loading()"
        [paginator]="true"
        [first]="first"
        [totalRecords]="total()"
        [lazy]="true"
        (onPage)="onPageChange($event)"
        [tableStyle]="{ 'min-width': '100%' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} valores"
        [showCurrentPageReport]="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Attributos Asignados</h5>
                <p-iconfield>
                    @if (!search()) {
                        <p-inputicon styleClass="pi pi-search" />
                    }
                    <input pInputText type="text" class="p-2 rounded-lg placeholder:pl-6" placeholder="Buscar..." [value]="search()" (input)="onSearchChange($event)" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="value" style="width: 60%">
                    Valor
                    <p-sortIcon field="value" />
                </th>

                <th style="width: 20%"><p class="text-center">Acciones</p></th>
            </tr>
        </ng-template>
        <ng-template #body let-productValueAttribute>
            <tr>
                <td>{{ productValueAttribute.value.value }}</td>

                <td>
                    <div class="flex items-center justify-center gap-1">
                        <p-button icon="pi pi-trash" [rounded]="true" [outlined]="true" (onClick)="unassignProductAttribute(productValueAttribute.value.id)" />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
