<div class="grid grid-cols-12 gap-4 mb-4">
    @for (item of summary()?.capital; track item.account) {
        <div class="col-span-12 md:col-span-3">
            <p-card>
                <ng-template pTemplate="title">
                    {{ getAccountTypeLabel(item.account) }}
                </ng-template>
                <ng-template pTemplate="content">
                    <div
                        class="text-2xl font-bold"
                        [ngClass]="{
                            'text-green-600': item.total >= 0,
                            'text-red-500': item.total < 0
                        }"
                    >
                        {{ item.total | currency: 'S/.' }}
                    </div>
                </ng-template>
            </p-card>
        </div>
    }
    <div class="col-span-12 md:col-span-3">
        <p-card>
            <ng-template pTemplate="title">Total Ventas</ng-template>
            <ng-template pTemplate="content">
                <div class="text-2xl font-bold text-blue-600">
                    {{ summary()?.totalSales | currency: 'S/.' }}
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="" icon="pi pi-plus" (onClick)="openNew()" severity="secondary" class="mr-2" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>

<div class="grid grid-cols-12 gap-4 mb-4">
    <!-- Tipo -->
    <div class="col-span-12 md:col-span-3">
        <label class="block mb-1 font-semibold">Tipo</label>
        <p-dropdown [options]="capitalTypes" optionLabel="label" optionValue="value" placeholder="Todos" (onChange)="onFilterChange()" [(ngModel)]="filters.type" appendTo="body" class="w-full" />
    </div>

    <!-- Cuenta -->
    <div class="col-span-12 md:col-span-3">
        <label class="block mb-1 font-semibold">Cuenta</label>
        <p-dropdown [options]="accountOptions" optionLabel="label" optionValue="value" placeholder="Todas" (onChange)="onFilterChange()" [(ngModel)]="filters.account" appendTo="body" class="w-full" />
    </div>

    <!-- Fecha inicio -->
    <div class="col-span-12 md:col-span-3">
        <label class="block mb-1 font-semibold">Desde</label>
        <p-calendar [(ngModel)]="filters.startDate" dateFormat="dd/mm/yy" (onSelect)="onFilterChange()" class="w-full" />
    </div>

    <!-- Fecha fin -->
    <div class="col-span-12 md:col-span-3">
        <label class="block mb-1 font-semibold">Hasta</label>
        <p-calendar [(ngModel)]="filters.endDate" dateFormat="dd/mm/yy" (onSelect)="onFilterChange()" class="w-full" />
    </div>
</div>

<p-table
    #dt
    [value]="list()"
    [rows]="limit()"
    [loading]="loading()"
    [paginator]="true"
    [first]="first"
    [totalRecords]="total()"
    [lazy]="true"
    (onPage)="onPageChange($event)"
    [tableStyle]="{ 'min-width': '100%' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} transacciones"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Transacciones</h5>
            <p-iconfield>
                @if (!search()) {
                    <p-inputicon styleClass="pi pi-search" />
                }
                <input pInputText type="text" class="p-2 rounded-lg placeholder:pl-6" placeholder="Buscar..." [value]="search()" (input)="onSearchChange($event)" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th id="id" style="width: 5%">
                <p-tableHeaderCheckbox />
            </th>

            <th id="date" pSortableColumn="date" style="width: 20%">
                Fecha
                <p-sortIcon field="date" />
            </th>
            <th id="account" pSortableColumn="account" style="width: 30%">
                Cuenta
                <p-sortIcon field="account" />
            </th>
            <th id="type" pSortableColumn="type" style="width: 10%">
                Tipo
                <p-sortIcon field="type" />
            </th>
            <th id="description" pSortableColumn="description" style="width: 20%">
                Descripcion
                <p-sortIcon field="description" />
            </th>

            <th id="amount" pSortableColumn="amount" style="width: 15%">
                Monto
                <p-sortIcon field="amount" />
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-capital>
        <tr>
            <td>
                <p-tableCheckbox [value]="capital" />
            </td>

            <td>{{ formatDateTime(capital.createdAt) }}</td>
            <td>
                @if (capital.originAccount) {
                    <span> {{ getAccountTypeLabel(capital.originAccount?.name) }} → {{ getAccountTypeLabel(capital.account?.name) }} </span>
                }
                @if (!capital.originAccount) {
                    <span>
                        {{ getAccountTypeLabel(capital.account?.name) }}
                    </span>
                }
            </td>

            <td>{{ getCapitalTypeLabel(capital.type) }}</td>

            <td>
                <div class="text-center">
                    <i class="pi pi-ellipsis-h size-5" tooltipPosition="top" [pTooltip]="capital.description"></i>
                </div>
            </td>
            <td
                [ngClass]="{
                    'text-green-600': getSignedAmount(capital) > 0,
                    'text-red-500': getSignedAmount(capital) < 0
                }"
            >
                {{ getSignedAmount(capital) | currency: 'S/.' }}
            </td>
        </tr>
    </ng-template>
</p-table>

<app-transaction-dialog />
